@import "tailwindcss";

@font-face {
  font-family: "Zilla Slab";
  src: url("/fonts/zilla/ZillaSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Zilla Slab Italic";
  src: url("/fonts/zilla/ZillaSlab-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/mono/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400;
}

@theme {
  --font-zilla: "Zilla Slab", Georgia, serif;
  --font-zilla-italic: "Zilla Slab Italic", "Zilla Slab", Georgia, serif;
  --font-mono: "IBM Plex Mono", "SFMono-Regular", monospace;
  --font-body: "Inter", system-ui, -apple-system, sans-serif;

  --color-amber-47: #e8a33d;
  --color-amber-dim: #d09235;
  --color-success: #50f050;
  --color-success-dim: #008200;
  --color-badge-dim: #383938;
  --color-badge-grey: #636463;
}

@utility mono {
  font-family: "IBM Plex Mono", "SFMono-Regular", monospace;
  color: #f5f5f5
}

@utility badge {
  border: 1px solid;
  border-radius: 34px;
  padding: 2px 7px;
}

@utility badge-soon {
  border-color: #636463;
  background-color: #383938;
  color: #636463;
}

@utility badge-ready {
  border-color: #3fbd3f;
  background-color: #297c29;
  color: #ccffcc;
}

.class {
  color: rgb(208, 146, 53)
}

@utility no-scrollbar {
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}